{% extends "base.html" %}

{% block content %}
<div class="education-delete">
  <header class="page-header d-flex">
    <h3 class="page-heading">Education Delete</h3>
  </header>
  <hr>
  <div class="card border-danger">
    <div class="card-body">
      <p class="lead">Do you wanna delete this education?</p>
      <form action="" method="POST"> {% csrf_token %}
        <div class="btn-group">
          <button type="submit" class="btn btn-danger">Yes</button>
          <a href="{{edu.get_absolute_url}}" class="btn btn-dark">No</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}