* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
}

.accounts {
  width: 60%;
  margin: auto;
}

.post-list .card-posts .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}